body {
    font-family: Arial, Helvetica, sans-serif;
}

/**** login.htlm ****/

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
button {
    background-color: #6f7271;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
  
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
  
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
  
.container {
    padding: 16px;
}
  
span.psw {
    float: right;
    padding-top: 16px;
}

/**** index.htlm ****/

#login {
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
}

.product{
    border:1px solid #333; 
    background-color:#dedfde; 
    border-radius:5px; 
    padding:16px;
    display: inline-block;
    vertical-align: middle; 
}

#list{
    background-color:#fefffe; 
}